
#nav-menu {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #FF3CAC;
  background-image: linear-gradient(225deg, #FF3CAC 0%, #784BA0 50%, #2B86C5 100%);
  
  
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 6px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
  border: 3px solid black;
  border-radius: 10px;
}


/* The navigation menu links */
#nav-menu a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
  border: 3px solid black;
  /* pointer-events: all; */
}

/* When you mouse over the navigation links, change their color */
#nav-menu a:hover {
  color: #f1f1f1;
}

#logo {
  margin-left: 10px;


}


/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  #nav-menu {padding-top: 15px;}
  #nav-menu a {font-size: 18px;}
}


* {
  margin: 0;
  padding: 0;
  font-family: monospace;
  box-sizing: border-box;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

body {
  background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(0,195,229,1) 0%, rgba(5,71,105,1) 90% );
  color: black;
  margin-left: 10%;
  margin-top: -400px;

}

.max-width {
  max-width: 1300px;
  padding: 0 80px;
  margin: auto;
}

.navbar {
  position: fixed;
  width: 100%;
  padding: 15px 0;
  background: crimson;
  font-family: sans-serif;


} 
/* ********************-=-==-=-=-=-=-=-=-=resume css==-=-=-=-=-==****************** */
#resume-button-2,#resume-link-1{
  display: block;
  height: 50px;
  width: 250px;
  background: black;
  text-align: center;
  padding: 5px 10px;
   position: absolute; 
   /* margin: auto ;  */
   margin-left: 13%;
  margin-top: 200px;
  text-decoration: none;
  list-style: none;
  left: 0;
  right: 0;
  border-radius: 15px;
  color: #fff;
}

#resume-link-1{
  font-size: 25px;
  /* position:absolute; */
}

/* ---------------------------project github link and deployed link------------ */
.project-github-link,.project-deployed-link{
  color: green;
  font-size: 20px;
 
}
.project-github-link:hover,.project-deployed-link:hover{
background: linear-gradient(orange,crimson,black);
}
#contact-phone ,#contact-email{
  text-decoration: none;
  color: #ff004f;
  font-size: 15px;
  padding: 5px 10px;

}
/********************************************************* techstack name**************************************************** */
.skills-card-name{
  margin: 10px;
  text-align: center;
  font-size: 25px;
  background-color: #0a0a0a00;
  padding: 10px 5px;
  border-radius: 20px;
  
}
.skills-card-name:hover{
  background: linear-gradient(rgb(215, 14, 84),rgb(255, 0, 212),rgb(128, 0, 128));
}

.navbar .max-width {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar .logo a {
  color: #fff;

  font-size: 35px;
  font-weight: 600;


}

.navbar .menu .li {
  list-style: none;
  display: inline-block;
}

.navbar .menu li a {
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  margin-left: 25px;

}

#home {
  width: 100%;
  height: 70vh;   /*70vh*/
  /* background-image: url(https://png.pngtree.com/thumb_back/fh260/background/20200714/pngtree-modern-double-color-futuristic-neon-background-image_351866.jpg); */


  background-size: cover;
  background-position: center;
  min-height: 300px;
}

.container {
  padding: 5px 3%;
  /* box-shadow: rgba(255, 255, 255, 0.2) 0px 0px 0px 1px inset, rgba(0, 0, 0, 0.9) 0px 0px 0px 1px; 
  box-shadow: rgba(193, 210, 226, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;  */
  display: flex;
} 

.container #nav-menu{
  width: 8%;
} 
.container #side-menu{
  width: 80%;
}


nav {
  display: flex;
  /* position: fixed; */
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  
  width: 100%;

  position: fixed;

  top: 0;
  left: 0;
  z-index: 1;
  background-color: #080808;
}

.logo {
  width: 140px;
}

nav ul li {
  display: inline-block;
  list-style: none;
  margin: 10px 20px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  position: relative;
}

nav ul li a::after {
  content: '';
  width: 0;
  height: 3px;
  background: #ff004f;
  position: absolute;
  left: 0;
  bottom: -6px;
  transition: 0.5s;
}

nav ul li a:hover::after {
  width: 100%;
}

.header-text {
  margin-top: 20%;
  font-size: 30px;

}

.header-text h1 {
  font-size: 60px;
  margin-top: 20px;

}

.header-text h1 span {
  color: rgb(255, 0, 212);
}




/* ---------------------about------------------ */
#about {
  padding: 80px 0;
  color: black;
  /* height: 100vh; */
  width: 100%;
  /* margin-left:45px; */
  /* margin-top: 80px; */
}

.row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.about-col-1 {
  flex-basis: 35%;

}

.about-col-1 img {
  width: 100%;
  border-radius: 15px;
  margin-top: 240px;
}

.about-col-2 {
  flex-basis: 60%;
  margin: 250px 0px;

}

.sub-title {
  font-size: 60px;
  font-weight: 600;
  color: #fff;
}

.tab-titles {
  display: flex;
  margin: 20px 0 40px;

}

.tab-links {
  margin-right: 50px;
  font-size: 25px;
  font-weight: 500;
  cursor: pointer;
  position: relative;
}

.tab-links::after {
  content: '';
  width: 0;
  height: 3px;
  background: #ff004f;
  position: absolute;
  left: 0;
  bottom: -8px;
  transition: 0.5s;
}

.tab-links.active-link::after {
  width: 50%;


}

.tab-contents ul li {
  list-style: none;
  margin: 10px 0;

}

.tab-contents ul li span {
  color: #b54769;
  font-size: 14px;
}

.tab-contents {
  display: none;
}

.tab-contents.active-tab {
  display: block;
}


/* -----------------------------skills-------------------------- */
#skills {
  padding: 50px 0;

}

.skills-list {
  display: grid;
  grid-template-columns: repeat(5, minmax(100px, 1fr));

  grid-gap: 40px;
  margin-top: 50px;

}

.skill {
  border-radius: 10px;
  position: relative;
  overflow: hidden;
}

.skill img {
  width: 100%;
  border-radius: 10px;
  display: block;
  height: 30vh;


}


/* ---------------------projects-section------------------------------ */
#projects {
  padding: 50px 0;

}

.project-list {
  display: grid;
  grid-template-columns: repeat(2, minmax(500px, 1fr));
  grid-gap: 40px;
  margin-top: 30px;

}

.project {
  border-radius: 10px;
  position: relative;
  overflow: hidden;
}

.project img {
  width: 100%;
  border-radius: 10px;
  display: block;
  height: 40vh;
  width: 40%;

}

.project a {
  text-align: center;
  margin: auto;
}

/* ----------------------github section---------------------------------- */
#githubs {
  padding: 50px 0;

}

.github-list {
  display: grid;
  grid-template-columns: repeat(2, minmax(250px, 1fr));
  grid-gap: 40px;
  margin-top: 50px;
  width: 60%;
  margin: auto;
  /* display: flex;
  align-items: center;
  justify-content: center; */
}

.github {
  border-radius: 10px;
  position: relative;
  overflow: hidden;

}

.github img {
  width: 100%;
  border-radius: 10px;
  display: block;
  height: 30vh;


}

.github a {
  text-align: center;
  margin: auto;
}
/* -----------------------------contact-------------------- */
.contact-left {
  flex-basis: 35%;

}

.contact-right {
  flex-basis: 60%;
}

.contact-left:p {
  margin-top: 30px;
}

.contact-left:p i {
  color: #ff004f;
  margin-right: 15px;
  font-size: 25px;
}

.social-icons {
  margin-top: 30px;

}

.social-icons a {
  text-decoration: none;
  font-size: 30px;
  margin-right: 15px;
  color: #ababab;
  display: inline-block;
  transition: tranform(0.5s);

}

.social-icons a:hover {
  color: #ff004f;
  transform: translateY(-5px);
}

.btn.btn2 {
  display: inline-block;
  background: #f0145a;
  border-radius: 20px;
  border: none;
  font-size: xx-large;
}
.btn.btn2:hover{
  background: rgb(12, 172, 12);
}

.contact-right form {
  width: 100%;

}

form input,
form textarea {
  width: 100%;
  border: 0;
  outline: none;
  background: #262626;
  padding: 15px;
  margin: 15px 0;
  color: #fff;
  font-size: 18px;
  border-radius: 6px;
}

form .btn2 {
  padding: 14px 60px;
  font-size: 18px;
  margin-top: 20px ;
  /* margin-left: 15px; */
  cursor: pointer;


}

.copyright {
  width: 100%;
  text-align: center;
  padding: 25px 0;
  background: #262626;
  font-weight: 300;
  margin-top: 20px;

}

.copyright i {
  color: #ff004f;

}


/* --------------------css for small screen------- */

nav .fas {
  display: none;
}

@media screen and (max-width: 600px) {
  /* #header {
      background-image: url("https://png.pngtree.com/thumb_back/fh260/background/20200714/pngtree-modern-double-color-futuristic-neon-background-image_351866.jpg");

  } */

  .header-text {
      margin-top: 100%;
      font-size: 16px;

  }


  .header-text h1 {

      font-size: 30px;

  }

  nav .fas {
      display: block;
      font-size: 25px;
  }

  nav ul {
      background: #ff004f;
      position: fixed;
      top: 0;
      right: -200px;
      width: 200px;
      height: 100vh;
      padding-top: 50px;
      z-index: 2;
      transition: right 0.5s;


  }

  nav ul li {
      display: block;
      margin: 25px;

  }

  nav ul .fas {
      position: absolute;
      top: 25px;
      left: 25px;
      cursor: pointer;
  }

  .sub-title {

      font-size: 40px;
  }

  .about-col-1,
  .about-col-2 {
      flex-basis: 100%;

  }

  .about-col-1 {
      margin-bottom: 30px;
  }

  /* .about-col-2{
      font-size: 140px;
  } */

  .contact-left,
  .contact-right {
      flex-basis: 100%;

  }

  .copyright {
      font-size:14px;
  }

}

/* <!-- HTML !-->
<button class="button-85" role="button">Button 85</button> */

/* CSS */
.button-85 {
  padding: 0.6em 2em;
  border: none;
  outline: none;
  color: rgb(255, 255, 255);
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-85:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing-button-85 20s linear infinite;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

@keyframes glowing-button-85 {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.button-85:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #222;
  left: 0;
  top: 0;
  border-radius: 10px;
}
